{{#each this}}
  <div class='contry-wrapper'>
    <img class='country-flag' src='{{flags.svg}}' alt='{{name}}' width='70' />
    <h2 class='country-name'>{{name}}</h2>
  </div>

  <ul class='country-info__list'>
    <li class='country-info__item'>
      <p class='country-info__text'>
        <span class='country-info__text--bold'>Capital: </span>{{capital}}
      </p>
    </li>
    <li class='country-info__item'>
      <p class='country-info__text'>
        <span class='country-info__text--bold'>Population: </span>{{population}}
      </p>
    </li>
    <li class='country-info__item'>
      <p class='country-info__text'>
        <span class='country-info__text--bold'>Languages: </span>{{#each
          languages
        }}{{name}}{{/each}}
      </p>
    </li>
  </ul>
{{/each}}